body {
  max-width: 1024px;
  margin: auto;
}

h1 {
  margin-top: 2rem;
  text-align: center;
}

h3 {
  margin-top: 3rem;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table th {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

footer {
  margin-top: 2rem;
}
